div{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 10px solid black;
    border-radius: 100%;
    border-top: 10px solid rgb(236, 13, 13);
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    position:absolute;
    top: 100px;
    left: 100px;
    animation: rotation 0.5s ease-in-out infinite normal;

}
@keyframes rotation {
from {
    transform: rotate(0deg);

} to {
    transform: rotate(360deg);
}


} 